/* место для вашего кода */
.header {
    display: flex;
    max-width: 1340px;
    margin: 100px 49px 92px 50px;
    justify-content: space-between;
}

.header__logo {
    display: block;
    width: 148px;
    height: 105px;
    margin-right: 140px;
}

.header__links-list {
    display: flex;
    list-style: circle;
    gap: 35px;
    margin: 45px 0 43px 0;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    text-transform: lowercase;
}

.address {
    list-style: none;
    padding: 3px 0 1px 0;
    line-height: 24.3px;
    font-style: normal;
    max-width: 240px;
}

.overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.cover {
    margin-top: 92px;
    color: #FFF;
    position: relative;
    max-width: 1440px;
    background-image:url(../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    z-index: 0;
}

.cover__title {
    padding: 165px 50px 0 50px;
    height: 100%;
    font-size: 100px;
    line-height: 115%;
    text-transform: uppercase;
    font-weight: 700;
    z-index: 1;
}

.aligned-text {
    display: flex;
}

.aligned-text_center {
    padding-top: 12px;
    justify-content: center;
}

.aligned-text_right {
    justify-content: right;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: 30px;
}

.cover__description {
    display: flex;
    padding: 135px 50px 49px 50px;
    justify-content: flex-end;
    align-items: first baseline;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    z-index: 2;
    gap: 78px;
}

.cover__description-text {
    word-spacing: 18px;
}

.bet-button {
    width: 257px;
    height: 52px;
    color:#FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #FFF;
}

.lots {
    max-width: 1340px;
    margin: 180px 50px 0 50px;
}

.lots__heading {
    color: #000;
    font-family: "Raleway" ,sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 40px;
}

.lots__card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    gap: 25px;
    padding-top: 27px;
}

.lots__card-list-item {
    display: flex;
    width: 430px;
    min-height: 450px;
    flex-grow: 1;
}

.card {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 40px 50px 40px;
    height: 100%;
    width: 100%;
    color: #FFF;
    font-size: 20px;
    z-index: 1;
    gap: 10px;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card__title {
    flex-grow: 1;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;
    z-index: 1;
}

.card__text {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    z-index: 1;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
    display: flex;
    font-size: 20px;
    margin: 33px 0 0 40px;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1,1fr);
    max-width: 1340px;
    margin: 185px 50px 0 50px;
} 

.about__logo {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #000;
    text-align: center;
    padding-top: 60px;
    margin-left: 95px;
}

.about__logo-image {
    width: 148px;
    height: 114px;
    grid-column-start: 1;
    grid-column-end: 1;
}

.about__column {
    display: inline-flex;
    flex-direction: column;
    width: 885px;
    padding-top: 97px;
}

.about__title {
    display: flex;
    margin-bottom: 100px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 20px;
    grid-column-start: 1;
    grid-column-end: 2;
}

.footer {
    max-width: 1340px;
    display: flex;
    gap: 340px;
    margin: 185px 50px 90px 50px;
    justify-content: space-between;
}

.footer__menu-list {
    text-align: center;
    list-style: none;
}

.footer__menu-link {
    text-transform: lowercase;
}

.footer__social-list {
    display: flex;
    list-style:none;
    gap: 48px;
}

.footer__social-icon {
    height: 48px;
}